{{#each this.audio.sounds as |sound|}}
  <button
    type="button"
    class="px-4 py-2 bg-yellow-500 focus:outline-none focus:bg-yellow-600"
    {{on "click" (fn this.audio.playSound sound)}}
  >
    {{sound}}
  </button>
{{/each}}
